<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.muslu.seniorproject">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.RouteActivity" android:theme="@style/ThemeCurrent"></activity>
        <activity
            android:name=".Activities.DeliveryActivity"
            android:theme="@style/ThemeCurrent" />
        <activity
            android:name=".Activities.PacketsActivity"
            android:theme="@style/ThemeCurrent" />
        <activity
            android:name=".Activities.MainPage"
            android:theme="@style/MainpageTheme">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CameraActivity"
            android:theme="@style/ThemeCurrent2"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Reader.Barcode.BarcodeRead" />
        <activity android:name=".Activities.MapsActivity" android:theme="@style/ThemeCurrent" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>